html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Courier New, monospace;
    background-color: #646262b4;
}

#story-title {
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    font-weight: bold;
    color: wheat;
    text-shadow: 2px 2px 2px rgba(36, 36, 36, 0.9);;
}

#github {
    display: flex;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: transparent;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s, opacity 0.3s;
}

#github:hover {
    transform: scale(1.1);
    opacity: 0.8; 
}

#connections {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 10px;
    z-index: 3000;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.person {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.counts {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#logo {
    display: flex;
    position: fixed;
    top: 20px;
    left: 10px;
    background-color: transparent;
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-image {
    position: fixed;
    left: 20px;
    top: 10px;
    width: 100px;
    height: auto;
}

#overlay-content {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: 50%;
    text-align: center;
    padding: 5vw;
    background: linear-gradient(to top, rgb(123, 89, 53, 0.9), transparent);
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

.loading-container {
    background: url('../media/background.jpeg') no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(36, 36, 36, 0.9);
    color: #fff;
    font-size: 20px;
}

#cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    display: none; /* Hidden by default */
    z-index: 1000;
}

#cookie-notification {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #686868;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-size: 18px;
    font-family: Courier New, monospace;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: none; /* Initially hidden */
    z-index: 3000; /* Ensures it appears on top */
}

#accept-cookies {
    margin-left: 15px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Tahoma, sans-serif;
}

#accept-cookies:hover {
    /* Hover styles */
    background-color: #4e4e4e;  /* Darker shade of the initial blue */
    transform: scale(1.05);  /* Slightly enlarge the button */
}

#accept-cookies:active {
    /* Active styles (when the button is pressed) */
    background-color: #4e4e4e;  /* Even darker shade of blue */
    transform: scale(1);  /* Reset the size to original when pressed */
}

input:hover::placeholder {
    color: transparent;
}


a {
    color: rgb(201, 201, 201);
}

.cookie-modal,
.policy-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.cookie-content,
.policy-content {
    background: #c9b297;
    padding: 20px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    max-height: 60vh;
    overflow-y: auto;
    width: 80vw;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1); 
}  

.close-policy {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 50px;
    cursor: pointer;
    color: "black";
}

@keyframes blink {
    0%, 100% {
        color: red;
    }
    50% {
        color: rgb(80, 80, 80);
    }
}

.blink-red {
    animation: blink 1s infinite;
}


/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 5px;  /* Width of the vertical scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;  /* Color of the draggable scrolling handle */
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Darken the handle color when hovering */
}

/* Track */
::-webkit-scrollbar-track {
    background: hsla(0, 0%, 8%, 0.8);  /* Color of the track (background behind the handle) */
    /* border-radius: 5px; */
}

